.loader {
	width: 150px;
	height: 150px;
	text-align: center;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 2;

	svg {
		width: 100%
	}

	&_text {
		color: var(#{--text-color-default});
	}
}