@import '../../styles/variables.scss';

.thisDay {
	width: 400px;
	min-height: 310px;
	flex-shrink: 0;
	padding: $length-md;
	display: flex;
	justify-content: center;
	align-items: center;

	@media(max-width: $size-md) {
		width: 250px;
		min-height: 250px;
	}

	@media(max-width: $size-sm) {
		width: 150px;
		min-height: 200px;
	}

	@media(max-width: $size-xs) {
		width: 100%;
		min-height: 170px;
		margin-bottom: 10px;
	}
}