*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 1.2;
	background: var(#{--body-background-default});
}

.container {
	width: 1230px;
	padding: 0 15px;
	margin: 0 auto;

	@media(max-width: $size-lg) {
		width: 950px;
	}

	@media(max-width: $size-md) {
		width: 750px;
	}

	@media(max-width: $size-sm) {
		width: 520px;
	}

	@media(max-width: $size-xs) {
		width: 360px;
	}

}

.weather {
	padding-bottom: 50px
}

.card {
	border-radius: $border-radius-md;
	background: var(#{--card-background-default});
	box-shadow: $shadow;
}