@import '../../styles/variables.scss';

.details {
	display: flex;

	@media(max-width: $size-xs) {
		display: block;
	}
}

.left {
	width: 130px;
	flex-shrink: 0;
	margin-right: 20px;

	@media(max-width: $size-sm) {
		width: 100px;
	}

	@media(max-width: $size-xs) {
		width: 100%;
		position: relative;
		margin-right: 0;
		margin-bottom: 20px
	}
}

.temp_now {
	font-size: 45px;
	font-weight: 500;
	color: $color-blue;

	@media(max-width: $size-sm) {
		font-size: 35px;
	}
}

.day {
	font-size: 20px;
	margin-bottom: 5px;
	color: var(#{--text-color-default});

	@media(max-width: $size-sm) {
		margin-bottom: 0;
		font-size: 18px;
	}

	@media(max-width: $size-xs) {
		font-size: 20px;
	}
}

.week {
	font-size: 16px;
	color: $color-light-grey;
	margin-bottom: 7px;

	@media(max-width: $size-sm) {
		margin-bottom: 0;
	}
}

.time,
.city {
	color: $color-light-grey;
}

.icon {
	width: 60px;
	height: 60px;
	margin-bottom: 5px;

	@media(max-width: $size-sm) {
		margin-bottom: 0;
	}

	@media(max-width: $size-xs) {
		width: 130px;
		height: 130px;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	svg {
		width: 100%
	}
}