@import '../../../styles/variables.scss';

.wrap {
	position: fixed;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	pointer-events: none;
	transition: 0.3s opacity;

	&:global(.active) {
		opacity: 1;
		pointer-events: auto;
		transition: 0.3s opacity;

		.popup {
			opacity: 1;
			transform: scale(1);
			transition: 0.3s 0.2s all;
		}
	}
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	background: $color-grey;
	padding: 30px;
	margin-left: -300px;
	margin-top: -200px;
	transform: scale(0.5);
	opacity: 0;
	transition: 0.3s 0.1s all;

	@media(max-width: $size-sm) {
		margin-top: -100px;
		margin-left: -250px;
		max-width: 500px;
	}

	@media(max-width: $size-xs) {
		max-width: 340px;
		margin-top: -175px;
		margin-left: -170px;
	}
}

.popup_close {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		background: var(#{--text-color-default});
		top: 50%;
		left: 50%;
	}

	&::before {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&::after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}